# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
jspm_packages/
venv/
.venv/
env/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/
.hypothesis/

# Build
dist/
build/
.next/
out/
.docusaurus/
.cache-loader/
.eslintcache
.stylelintcache
.prettiercache
.parcel-cache
.cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.project
.settings/
.classpath
.factorypath

# Vite/Next.js
.vite/
.turbo/
.next/
.contentlayer/
